li
  a(href='https://github.com/#{project.repo}', title='#{project.name} on github')
    .gh-watch
      i(class='icon-star')
      span= project.stars
    h3= project.name
  span= project.description
